@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

body {
    margin: 0px;
    background-color: rgba(0, 0, 0, 0.84);
    font-family: 'Raleway';
    color: #FFFFFF;
}

#Menu {
    padding: 10px;
    background-color: #CA7900;
}

#Menu nav ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-weight: bold;
}

#Menu nav ul li {
    margin: 0px 20px;
    font-size: 36px;
}

h1 {
    text-align: center;
    font-size: 59px;
    margin-top: 107px;
}

h2 {
    font-size: 45px;
}

h3 {
    font-size: 36px;
    padding-bottom: 58px;
}

section {
    background-color: #CA7900;
    border-radius: 40px;
    margin-top: 189px;
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

section>img {
    margin-top: -75px;
    width: 164px;
    height: 110px;
}

button {
    background-color: #CA8500;
    border: 9px solid #F5F5F5;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 14px;
    margin-top: 24px;
    margin-bottom: 53px;
    color: #F5F5F5;
    font-size: 36px;
}

section button {
    width: 225px;
    height: 76px;
}

section div{
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;
    margin-right: 25%;
}

div {
    display: flex;
    justify-content: space-evenly;
}

 #btnEntrarSite {
    width: 370px;
    height: 76px;
    font-size: 32px;
}